@page
@model VantaTest.Web.Pages.Menu.IndexModel
@section styles {
    <abp-style src="/Pages/Menu/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Menu/Index.js" />
}


<div class="menu-container">
    <div class="consol">

        <div class="aciklama">Kategori seçimi yaparak devam edebilirsiniz...</div>

       
        @foreach (var typeGroup in Model.ParentCategories)
        {
            <button class="accordion">
                <i class="fa fa-utensils me-2"></i><span>@typeGroup.Name</span>
            </button>

            <div class="panel">
                @foreach (var category in Model.Categories)
                {
                    if (typeGroup.Id == category.ParentId)
                    {

                        <a asp-page="./Food" asp-route-id="@category.Id" class="anaMenuler">@category.Name</a>
                    }
                }
            </div>
        }

    </div>
</div>
