@page
@model VantaTest.Web.Pages.Menu.IndexModel
@section styles {
    <abp-style src="/Pages/Menu/Index.css" />
    <style>
        #main-navbar, header, .main-header {
            display: none !important;
        }

        body, .main-content, .lpx-content-container {
            padding-top: 0 !important;
            margin-top: 0 !important;
        }
    </style>
}
@section scripts {
    <abp-script src="/Pages/Menu/Index.js" />
}


<div class="menu-container">
    <div class="consol">

        <div class="aciklama">Kategori seçimi yaparak devam edebilirsiniz...</div>

       
        @foreach (var typeGroup in Model.ParentCategories)
        {
            <button class="accordion">
                <i class="fa fa-utensils me-2"></i><span>@typeGroup.Name</span>
            </button>

            <div class="panel">
                @foreach (var food in Model.Categories)
                {
                    if (typeGroup.Id == food.ParentId)
                    {

                        <a href="/Menu/Food/@food.Id" class="anaMenuler">@food.Name</a>
                    }
                }
            </div>
        }

    </div>
</div>
