@page
@model VantaTest.Web.Pages.Dashboard.Customization.Sliders.CreateModel
@{
}
@section styles {
  <abp-style src="/Pages/Dashboard/Customization/Sliders/Create/create.css" />
}
@section scripts {
   <abp-script src="/Pages/Dashboard/Customization/Sliders/Create/create.js" />
}
<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white fw-bold">
                    <i class="bi bi-plus-circle me-2"></i>Yeni Başlık Ekle
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        <div class="mb-4">
                            <label for="sliderImageInput" class="form-label fw-bold">Ürün Görseli</label>

                            <div class="image-upload-container" id="uploadContainer" onclick="document.getElementById('sliderImageInput').click()">

                                <div id="uploadPlaceholder">
                                    <i class="bi bi-cloud-arrow-up fs-1 text-muted"></i>
                                    <p class="text-muted mb-0 mt-2">Fotoğraf yüklemek için tıklayın</p>
                                </div>

                                <img id="imagePreviewBox" class="image-preview" alt="Önizleme" style="display: none;">
                            </div>

                            <input type="file" name="UploadedImage" class="form-control d-none" id="sliderImageInput" accept="image/*">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Slider.Title" class="form-label fw-bold">Başlık</label>
                            <input type="text" asp-for="Slider.Title" class="form-control" placeholder="Örn: BURGER " required>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a asp-page="./Index" class="btn btn-secondary">İptal</a>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>