body {
    background: #eee;
    padding-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card {
    margin-bottom: 30px;
}

.overflow-hidden {
    overflow: hidden !important;
}

.p-0 {
    padding: 10px !important;
}

.mt-n5 {
    margin-top: -3rem !important;
}

.linear-gradient {
    background-image: linear-gradient(#50b2fc,#f44c66);
}

.rounded-circle {
    border-radius: 50% !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.rounded-2 {
    border-radius: 7px !important;
}

.bg-light-info {
    --bs-bg-opacity: 1;
    background-color: #ebf1f6 !important;
}

.card {
    margin-bottom: 30px;
    
}

.position-relative {
    position: relative !important;
}

.shadow-none {
    box-shadow: none !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.border {
    border: 1px solid #ebf1f6 !important;
}

.fs-6 {
    font-size: 1.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.d-block {
    display: block !important;
}

a {
    text-decoration: none;
}


.fs-4 {
    font-size: 1rem !important;
}

.card, .bg-light {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.fs-2 {
    font-size: .75rem !important;
}

.rounded-4 {
    border-radius: 4px !important;
}

.ms-7 {
    margin-left: 30px !important;
}
.ozel-genis-kutu {
    width: 80vw; /* Ekran genişliğinin %95'ini kaplar. Tam sıfıra sıfır istersen 100vw yapabilirsin. */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#main-navbar, header, .main-header {
    display: none !important;
}

body, .main-content, .lpx-content-container {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
